@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: decimal;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.hidden {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

div {
    margin-bottom: 30px;
}